@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "./variables";
@import "./typography.scss";
@import "./buttons.scss";
@import "./inputs.scss";

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background: $primaryColor;

  // REFACTOR THIS
  overflow-x: hidden;
}

.agasnap--container--fluid {
  min-height: 100vh;
  min-width: 100vw;
  .agasnap--container {
    padding: $padding-1-point-5;
  }
}

.agasnap--content,
.agasnap--form--container,
.agasnap--chat--container,
.agasnap--profile--container {
  display: flex;
}
.agasnap--form--container,
.agasnap--chat--container,
.agasnap--profile--container {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.agasnap--content {
  display: flex;
  flex-direction: column;
  .content--header {
    background: $primaryColor;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $padding-1;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
  }
}

.cursor {
  cursor: pointer;
}

link {
  color: $blackColor;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
