$primaryColor: #f2f2f2;
$blackColor: rgb(22, 25, 28);
$yellowColor: rgb(255, 246, 0);
$yellowHoverColor: rgb(228, 221, 35);
$whiteColor: #ffffff;
$textColor: #656b73;
$font-weight-600: 600;

$padding-2: 2rem;
$padding-1: 1rem;
$padding-1-point-5: 1.5rem;

$borderColor: rgb(227, 227, 227);
