@import "../styles/variables";

.agasnap--btn {
  background: $yellowColor;
  border: none;
  border-radius: 1000px;
  padding: 1.2rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $blackColor;

  &:focus,
  &:active {
    background: $yellowColor;
    color: $blackColor;
  }
  &:hover {
    background: $yellowHoverColor;
    color: $blackColor;
  }
}

.btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}
