@import "./variables";

.agasnap--signup,
.agasnap--login,
.agasnap--chat,
.agasnap--profile {
  width: 25rem;
  background: $whiteColor;
  padding: $padding-1-point-5;
  border: 0.1rem solid $borderColor;
  border-radius: 0.4rem;
}

.agasnap--chat {
  min-height: 90vh;
  position: relative;
}

.form-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
  row-gap: 1rem;
  img {
    width: 3.5rem;
  }
}

.switch--forms {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}
