.agasnap--input {
  background: $primaryColor;
  // border: none;
  height: 3rem;

  &:focus,
  &:active {
    border: 0.1rem solid $yellowColor;
  }
}

.ant-form-item-control-input-content input::placeholder,
.ant-select-selection-placeholder {
  font-size: 0.8rem;
}
