@import "./variables";

.agasnap-list {
  background: $whiteColor;
  width: 100%;
  display: flex;
  flex-direction: column;
  .list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $padding-1;
    border-bottom: 0.1rem solid $primaryColor;
    .right {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 1rem;
      img {
        width: 3rem;
        height: 3rem;
        object-fit: cover;
        border-radius: 50%;
      }
      .user-info {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
      }
    }
  }
}
